
SaveProtocol/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
.vs/SCADA.Common/v16/.suo
SaveProtocol/obj/Debug/SCADA.Common.csprojAssemblyReference.cache
SCADA.Graphics/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
SaveProtocol/obj/Debug/SCADA.Common.csproj.CoreCompileInputs.cache
SaveProtocol/obj/Debug/SCADA.Common.csproj.FileListAbsolute.txt
SaveProtocol/obj/Debug/SCADA.Common.pdb
SaveProtocol/bin/Debug/SCADA.Common.pdb
SaveProtocol/obj/Debug/SCADA.Common.dll
