
SaveProtocol/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
.vs/SCADA.Common/v16/.suo
SaveProtocol/obj/Debug/SCADA.Common.csprojAssemblyReference.cache
SCADA.Graphics/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
